<!-- ヘッダー -->
<nav class="fixed top-0 w-full z-50 px-6 py-4 flex justify-between items-center bg-linear-to-b from-yellow-400 from-0% via-yellow-200 via-80% to-yellow-100 to-100%">
  <%= link_to "Get The Time", root_path, class: "inline-block bg-[url('grab_the_light.png')] bg-contain bg-center bg-black/90 bg-no-repeat text-white/90 px-2 md:px-4 py-2 rounded-lg text-sm md:text-base" %>
  <div>
    <%= link_to "新規登録", new_user_registration_path, class: "inline-block bg-blue-500 hover:bg-blue-600 text-white/90 px-2 md:px-4 py-2 rounded-lg transition duration-200 text-sm md:text-base" %>
    <%= link_to "ログイン", new_user_session_path, class: "ml-6 inline-block bg-blue-500 hover:bg-blue-600 text-white/90 px-2 md:px-4 py-2 rounded-lg transition duration-200 text-sm md:text-base" %>
  </div>
</nav>

<!-- メインコンテンツ -->
<main class="relative top-10 min-h-screen w-full flex items-center justify-center bg-center bg-[url('grab_the_light.png')]">
  <div class="mx-auto bg-stone-300/67 rounded-3xl shadow-2xl p-2 md:p-8 w-80 md:w-120 text-center text-zinc-800">
    <!-- タイトル -->
    <div class="text-3xl text-center font-semibold mb-3 md:mb-6">
      Get The Time<br>
      <span class="text-lg">ー 本来の自分を手に入れろ ー</span>
    </div>

    <div class="text-xs md:text-base leading-relaxed">
      読書や勉強など、本来やりたいことがあったのに、<br>
      SNSや動画コンテンツ等をつい見てしまって<br>
      後悔する1日を過ごしてしまった
    </div>

    <div class="text-lg md:text-xl font-semibold my-3 md:my-6">こうした日常を解消しませんか？</div>

    <div class="text-xs md:text-base leading-relaxed">
      自分が本来やりたいと思った行動を<strong>光の時間での行動</strong>、<br>
      後悔の原因となる行動を<strong>闇の時間での行動</strong>として考え、<br>
      光の時間での行動を実際に行い、記録していくことで<br>
      <strong>本来の自分と向き合うサービス</strong>です。
    </div>

    <div class="text-lg md:text-xl font-semibold my-3 md:my-6">
      光の時間をできるだけ掴み取り<br>
      本来の自分を取り戻せ！
    </div>

    <div class="flex justify-center items-center gap-6">
      <%= link_to "はじめる", new_user_registration_path, class: "inline-block bg-blue-500 hover:bg-blue-600 text-white/90 px-2 md:px-4 py-2 rounded-lg transition duration-200 text-sm md:text-base" %>
      <%= link_to "ログイン", new_user_session_path, class: "inline-block bg-blue-500 hover:bg-blue-600 text-white/90 px-2 md:px-4 py-2 rounded-lg transition duration-200 text-sm md:text-base" %>
    </div>
  </div>
</main>
