<div class="min-h-screen bg-linear-to-b from-yellow-400 from-0% via-yellow-200 via-80% to-yellow-100 to-100% text-zinc-800">

  <!-- 浄化タイマーの時間付与時に表示されるモーダル -->
  <%= render "activity_records/grant_purification_time_modal" %>

  <!-- ハンバーガーメニュー -->
  <%= render "shared/hamburger_menu" %>

  <h1 class="text-2xl font-bold text-center mb-10 pt-10">
    光の時間の活動記録
  </h1>

  <!-- 検索フォーム -->
  <div class="max-w-xl mx-auto">
    <%= render 'search_form', q: @q, url: activity_records_path %>
  </div>

  <% if @activity_records.present? %>
    <div class="max-w-2xl mx-auto">
      <!-- 一覧 -->
      <div class="space-y-4">
        <%= render @activity_records %>
      </div>
    </div>

    <!-- ページネーション -->
    <div class="mt-6 flex justify-center">
      <%= paginate @activity_records %>
    </div>

  <% else %>
    <div class="flex items-center justify-center min-h-[60vh]">
      <p class="text-lg">
        <% if params[:q].present? %>
          検索結果が見つかりませんでした
        <% else %>
          光の時間の活動記録が登録されていません
        <% end %>
      </p>
    </div>
  <% end %>
</div>
