<details id="step3" class="mt-10 group border border-zinc-800 rounded-lg p-4 open:shadow-lg transition-all duration-300">
  <summary class="text-2xl font-bold cursor-pointer list-item">
    Step3: 光の時間の活動時間の計測
  </summary>
  <div class="my-6">
    <p class="mb-2 text-lg">こちらのstepに取り組まれるには、step1及びstep2を完了する必要があります</p>
  </div>
  <div class="my-6">
    <p class="mb-2 text-lg">
      1. マイページの黄色のスタートボタンをクリック
    </p>
    <p class="mb-2 text-md">
      ※ 光の時間の活動内容を複数登録している場合、
      青い矢印 (<、>) をクリックもしくはキーボードの上下ボタンで切り替えることで
      取り組む活動内容を決める
    </p>
    <p class="mb-2 text-md">
      ※ やることがある場合は、フォームに入力してスタートボタンをクリック（必ずしも入力する必要はありません）
    </p>
    <%= image_tag "how_to_use/mypage_light_time_create_multiple.png" %>
  </div>
  <div class="my-6">
    <p class="mb-2 text-lg">2. スタートボタンをクリック</p>
    <p class="mb-2 text-md">※ デモ画像です。実際の計測時間（25分）とは異なります。</p>
    <p class="mb-2 text-md text-red-700">
      ※ 間違えてタイマー画面へと遷移してしまった、光の時間での行動が異なる場合は、ブラウザの戻るボタンをクリックしましょう。
    </p>
    <%= image_tag "how_to_use/pomodoro_before_start.png" %>
  </div>
  <div class="my-6">
    <p class="mb-2 text-lg">3. タイマーが起動。活動を行います</p>
    <p class="mb-2 text-md">
      ※ 途中で終了する場合は、終了するボタンをクリック。クリック後の手続きはstep4を確認
    </p>
    <p class="mb-2 text-md text-red-700">
      ※ ブラウザの再読み込みもしくはブラウザの戻るボタンをクリックした場合、ポモドーロタイマー（活動時間の計測、ポモドーロ数）とやること（こちらの画面で更新した場合に限る）がリセットされます。
    </p>
    <%= image_tag "how_to_use/pomodoro_after_start.png" %>
  </div>
  <div class="my-6">
    <p class="mb-2 text-lg">※ やることを更新する場合</p>
    <p class="mb-2 text-md">
      入力フォームに内容を新規入力もしくは変更して更新するボタンをクリックすると入力内容を反映することができます。
    </p>
    <%= image_tag "how_to_use/pomodoro_task_update.png" %>
  </div>
  <div class="my-6">
    <p class="mb-2 text-lg">4. タイマーが終了すると休憩時間の画面に切り替わり、タイマーが自動で起動します。休憩しましょう</p>
    <p class="mb-2 text-md">
      ※ 途中で終了する場合は、終了するボタンをクリック。クリック後の手続きはstep4を確認
    </p>
    <%= image_tag "how_to_use/pomodoro_breaking_time.png" %>
  </div>
  <div class="my-6">
    <p class="mb-2 text-lg">
      5. 休憩時間経過後、ポモドーロ回数がカウントされた活動時間計測のタイマー画面が表示されます。
      活動を継続する場合はスタートボタンを、終了する場合は終了するボタンをクリックします。
    </p>
    <p class="mb-2 text-md">
      ※ 終了するボタンをクリック後の手続きは、step4を確認
    </p>
    <p class="mb-2 text-md text-red-700">
      ※ 2回目以降の時間計測において、スタートボタンを押さずに20分経過した場合、自動で活動記録の画面へと移ります。その際に、経過した20分も記録されません。
    </p>
    <%= image_tag "how_to_use/pomodoro_one_pomo_display.png" %>
  </div>
</details>
