<details id="step1" class="mt-10 group border border-zinc-800 rounded-lg p-4 open:shadow-lg transition-all duration-300">
  <summary class="text-2xl font-bold cursor-pointer list-item">
    Step1: 闇の時間の活動内容の登録
  </summary>
  <div class="my-6">
    <p class="mb-2 text-lg">1. マイページを表示</p>
    <%= image_tag "how_to_use/mypage_display_new_ver.png", class: "" %>
  </div>
  <div class="my-6">
    <p class="mb-2 text-lg">2. 左側の紫の新規登録ボタンをクリック</p>
    <%= image_tag "how_to_use/mypage_dark_time_new_path.png", class: " w-30" %>
  </div>
  <div class="my-6">
    <p class="mb-2 text-lg">3. 闇の時間での行動を登録</p>
    <p class="mb-2 text-md">
      ※ 避けたい未来や闇の時間の特徴について、見つかっていない場合は無理に埋めなくても大丈夫です。
    </p>
    <%= image_tag "how_to_use/dark_time_new_form.png", class: " w-30" %>
  </div>
  <div class="my-6">
    <p class="mb-2 text-lg">登録完了。step2へ進みましょう。</p>
    <%= image_tag "how_to_use/dark_time_create.png", class: " w-30" %>
  </div>
  <details class="group rounded-lg p-4 open:shadow-lg transition-all duration-300">
    <!-- タイトル部分 -->
    <summary class="font-bold cursor-pointer list-item">
      登録内容を変更したい場合
    </summary>
    <!-- コンテンツ部分 -->
    <div class="mt-4">
      <div class="my-6">
        <p class="mb-2 text-lg">1. 登録した闇の時間の登録内容をクリック</p>
        <%= image_tag "how_to_use/mypage_dark_time_content.png" %>
      </div>
      <div class="my-6">
        <p class="mb-2 text-lg">2. 編集ボタンをクリック</p>
        <%= image_tag "how_to_use/dark_time_show_display.png" %>
      </div>
      <div class="my-6">
        <p class="mb-2 text-lg">3. 内容を変更して更新ボタンをクリックすると、登録内容が変更されます。</p>
        <%= image_tag "how_to_use/dark_time_edit_display.png" %>
      </div>
    </div>
  </details>
</details>
