<div
  data-controller="purification-timer"
  data-purification-timer-remaining-value="<%= @purification_time.remaining_time %>"
  data-purification-timer-started-at-value="<%= @purification_time.started_at&.to_i %>"
  data-purification-timer-running-value="<%= @purification_time.running? %>"
  class="min-h-screen flex flex-col items-center justify-center bg-linear-to-b from-blue-800 from-0% via-sky-400 via-80% to-blue-50 to-100%"
>
  <!-- タイマー表示 -->
  <div class="text-white/90">
    <div class="text-center">

      <% if @purification_time.finished? %>
        <div class="text-2xl">
          浄化が完了しました ✨ <br>
          また、活動時間を計測してから来てね ❤️ <br>
          30分毎に10分よ ✨ 忘れないでね ❤️
        </div>
      <% else %>
        <div class="text-7xl font-bold" data-purification-timer-target="display">
          00:00
        </div>
      <% end %>

    </div>
  </div>

  <%= image_tag "timer.png", class: "w-80 md:w-100 my-12" %>

  <!-- ボタン -->

  <% if @purification_time.finished? %>
    <div class="flex justify-center">
      <%= link_to "マイページに戻る", mypage_path, class: "bg-red-500 text-white/90 text-lg px-8 py-2 rounded-full hover:bg-red-600 transition duration-200" %>
    </div>
  <% elsif @purification_time.idle? || @purification_time.paused? %>
  <div class="flex justify-center gap-6">
      <button type="button" data-action="click->purification-timer#start" class="bg-green-700 text-white/90 text-base md:text-lg px-6 md:px-8 py-2 rounded-full hover:bg-green-800 transition duration-200">
          スタート
        </button>
        <%= link_to "キャンセル", mypage_path, class: "bg-red-500 text-white/90 text-base md:text-lg px-6 md:px-8 py-2 rounded-full hover:bg-red-600 transition duration-200" %>
      </div>
  <% elsif @purification_time.running? %>
    <button type="button" data-action="click->purification-timer#stop" class="bg-red-500 text-white/90 text-base md:text-lg px-6 md:px-8 py-2 rounded-full hover:bg-red-600 transition duration-200">
      終了する
    </button>
  <% end %>
</div>
