<% light_times = current_user.light_times.order(:created_at).pluck(:id) %>

<% if light_time.present? %>
  <div id="light-time-switch" data-controller="light-time-switch" data-light_times="<%= light_times.to_json %>" data-current-id="<%= @light_time.id %>">
    <div class="flex flex-row md:flex-col items-center justify-center gap-6 text-zinc-800">

      <% if light_times.size > 1 %>
        <button data-action="click->light-time-switch#prev" class="w-12 h-12 flex items-center justify-center text-blue-500 text-6xl rounded-full md:rotate-90">
          &lt;
        </button>
      <% end %>

      <!-- 固定幅コンテナ -->
      <div class="w-80 flex justify-center">
        <%= link_to light_time_path(light_time), class: "block w-full flex items-center justify-center bg-linear-to-b from-yellow-400 from-0% via-yellow-200 via-80% to-yellow-100 to-100% rounded-3xl shadow-2xl p-10" do %>
          <div class="mb-4 p-4 rounded-xl text-center">
            <p class="text-sm mb-1">
              光の時間での行動
            </p>
            <p class="font-semibold  bg-amber-500 px-1 py-4 rounded-2xl">
              <%= light_time.action %>
            </p>
            <p class="text-sm mt-3 mb-1">
              なりたい自分
            </p>
            <p class="font-semibold  bg-amber-500 px-1 py-4 rounded-2xl">
              <%= light_time.desired_self.presence || "まだ見ぬ可能性に満ちた新しい自分に出会うため" %>
            </p>
          </div>
        <% end %>
      </div>

      <% if light_times.size > 1 %>
        <button data-action="click->light-time-switch#next" class="w-12 h-12 flex items-center justify-center text-blue-500 text-6xl rounded-full md:rotate-90">
          &gt;
        </button>
      <% end %>

    </div>
  </div>
<% else %>
  <div class="flex items-center justify-center bg-stone-300/67 rounded-3xl shadow-2xl p-10 w-80 text-center">
    <div>
      <p class="mb-8 text-lg leading-relaxed">
        光の時間での行動が<br>
        登録されていません<br>
        新規登録しましょう
      </p>
      <%= link_to "新規登録", new_light_time_path, class: "inline-block px-6 py-2 rounded-full bg-linear-to-r from-yellow-400 from-0% via-yellow-200 via-80% to-yellow-100 to-100% hover:from-yellow-500 hover:via-yellow-300 hover:to-yellow-200 font-semibold transition duration-200" %>
    </div>
  </div>
<% end %>
