<div class="min-h-screen bg-[url('bg_light_and_darkness_narrow.png')] md:bg-[url('bg_light_and_darkness_wide.png')] bg-cover bg-center">

  <!-- 🔹 ハンバーガーメニュー -->
  <% if both_times_present?(@dark_time, @light_time) %>
    <%= render "shared/hamburger_menu" %>
  <% end %>

  <!-- 🔹 右上ユーザーメニュー -->
  <div class="flex justify-end px-6 pt-6">
    <div class="flex gap-6">

      <% if both_times_present?(@dark_time, @light_time) %>
        <div class="flex items-center justify-center bg-stone-300/67 rounded-2xl px-4 py-3 shadow-xl w-40">
          <%= link_to "新規登録", new_light_time_path, class: "w-full text-xs text-center text-zinc-800 inline-block py-1 rounded-full bg-linear-to-r from-yellow-400 from-0% via-yellow-200 via-80% to-yellow-100 to-100% hover:from-yellow-500 hover:via-yellow-300 hover:to-yellow-200 font-semibold transition duration-200" %>
        </div>
      <% end %>

      <% if @purification_time %>
        <div data-controller="purification-timer" class="bg-linear-to-b from-blue-800 from-0% via-sky-400 via-80% to-blue-50 to-100% rounded-2xl px-4 py-3 shadow-xl w-40 h-40 text-white/90">

          <div class="flex items-center justify-center gap-3 mb-3">
            <%= image_tag "timer.png", class: "w-8" %>

            <div class="text-sm text-center">
              浄化タイマー
            </div>
          </div>

          <% if @purification_time.running? %>
            <%= link_to "実行中", purification_time_path, class: "block text-xs bg-green-700 text-center rounded-full py-1 my-11 hover:bg-green-800 transition duration-200" %>
          <% else %>
            <div class="text-sm text-center mb-3">
              <%= format_seconds_to_mmss(@purification_time&.remaining_time.to_i) %>
            </div>

            <% if @purification_time.finished? %>
              <%= link_to "メッセージ", purification_time_path, class: "block text-xs bg-green-700 text-center rounded-full py-1 mb-2 hover:bg-green-800 transition duration-200" %>
            <% else %>
              <%= link_to "スタート", purification_time_path, class: "block text-xs bg-green-700 text-center rounded-full py-1 mb-2 hover:bg-green-800 transition duration-200" %>
              <button type="button" data-action="click->purification-timer#reset" class="w-full text-xs text-center bg-red-500 rounded-full py-1 hover:bg-red-600 transition duration-200">
                リセット
              </button>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="flex flex-col items-center justify-center bg-linear-to-b from-yellow-400 from-0% via-yellow-200 via-80% to-yellow-100 to-100% rounded-2xl px-4 py-3 shadow-xl w-40">
        <div class="text-sm text-center text-zinc-800 font-semibold mb-4">
          <%= current_user.name || "ユーザーA" %>
        </div>

        <%= link_to "使い方", how_to_use_path, class: "w-full block text-xs bg-amber-500 text-zinc-800 text-center rounded-full py-1 mb-2 hover:bg-amber-600 transition duration-200" %>

        <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete },  class: "w-full text-xs text-center bg-red-500 text-white/90 rounded-full py-1 hover:bg-red-600 transition duration-200" %>
      </div>
    </div>
  </div>

  <!-- 🔹 メインエリア -->
  <div class="flex items-center justify-center min-h-screen px-10">
    <div class="flex flex-col-reverse my-10 md:my-0 md:flex-row items-center justify-center <%= both_times_present?(@dark_time, @light_time) ? 'gap-20' : 'gap-40 md:gap-80' %>">

      <!-- 🌑 闇側カード -->
      <%= render "dark_time", dark_time: @dark_time %>

      <% if both_times_present?(@dark_time, @light_time) %>
        <!-- 今日の合計時間&スタートボタン -->
        <%= render "pomodoro_start" %>
      <% end %>

      <!-- ☀ 光側カード -->
      <%= render "light_time", light_time: @light_time %>

    </div>
  </div>
</div>
