<div class="min-h-screen bg-linear-to-b from-yellow-400 from-0% via-yellow-200 via-80% to-yellow-100 to-100%">

<!-- 戻るボタン -->
    <%= link_to "← マイページに戻る", mypage_path, class: "mt-6 ml-6 mb-20 inline-block bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg transition" %>

  <div class="flex-col items-center justify-center w-full max-w-2xl px-10 mx-auto">
    <h1 class="text-2xl font-bold text-center mb-10">
      光の時間での活動内容詳細
    </h1>

    <!-- 光の時間での行動 -->
    <div class="mb-8">
      <p class="mb-2 text-sm">光の時間での行動</p>
      <div class="bg-amber-500 rounded-lg px-6 py-4">
        <%= @light_time.action %>
      </div>
    </div>

    <!-- なりたい自分 -->
    <div class="mb-8">
      <p class="mb-2 text-sm">なりたい自分</p>
      <div class="bg-amber-500 rounded-lg px-6 py-4">
        <%= @light_time.desired_self.presence || "まだ見ぬ可能性に満ちた新しい自分に出会うため" %>
      </div>
    </div>

    <!-- 光の時間の特徴 -->
    <div class="mb-16">
      <p class="mb-2 text-sm">光の時間の特徴</p>
      <div class="bg-amber-500 rounded-lg px-6 py-4">
        <%= @light_time.characteristic.presence || "これから見つけていく" %>
      </div>
    </div>

    <!-- 編集ボタン -->
    <div class="flex justify-center gap-10 text-center">
      <%= link_to "編集", "#", class: "bg-green-700 hover:bg-green-800 px-6 py-3 rounded-full text-white font-semibold transition" %>
      <%= link_to "削除", "#", class: "bg-red-500 hover:bg-red-600 px-6 py-3 rounded-full text-white font-semibold transition" %>
    </div>

  </div>
</div>
